{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h2>Добро пожаловать на главную страницу</h2>
    <p>Проект «Task manager» представляет собой разработку API с использованием Python и фреймворков Django.
        Основные функциональные требования включают управление постами и лайками.
        В рамках проекта необходимо выполнить следующие задачи:
</p>
 <ul>
 <li>Проектирование и реализация структуры базы данных для хранения постов и лайков.</li>
 <li>Разработка API с указанными эндпоинтами:
     <ul> POST /posts — создание нового поста;</ul>
     <ul> PUT /posts/{id} — изменение существующего поста;</ul>
     <ul> DELETE /posts/{id} — удаление поста;</ul>
     <ul> GET /posts/{id} — получение информации о конкретном посте;</ul>
     <ul> GET /posts — получение списка всех постов;</ul>
     <ul> POST /posts/{id}/like — поставить лайк посту;</ul>
     <ul> DELETE /posts/{id}/like — убрать лайк с поста.</ul>
 </li>
 <li>Реализация валидации входных данных.</li>
 <li>Написание базовых unit-тестов для ключевых функций.</li>
 <li>Настройка Docker для развёртывания проекта.</li>
 <li>Подготовка README.md с инструкциями по установке и запуску проекта.</li>
 </ul>
{% endblock %}